@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #fff;
  --background: #161313;
  --color-primary: #DE0376;
  --nextui-foreground: --color-primary;
}

html {
  background: var(--background);
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
}


.select [data-slot="trigger"] {
  height: 50px;
}

.text-primary {
  color: var(--color-primary);
}

.btn {
  min-width: 160px;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  background: var(--color-primary);
}

.btn-large {
  height: 50px;
  border-radius: 25px;
}


/* [data-slot="listbox"] .data-\[hover\=true\]\:text-default-foreground[data-hover=true] ,
[data-slot="listbox"] .data-\[selectable\=true\]\:focus\:text-default-foreground:focus[data-selectable=true] {
  --tw-text-opacity: 1;
  color: var(--color-primary);
} */
