@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #fff;
  --background: #161313;
  --color-primary: #DE0376;
  --nextui-foreground: #fff;
}

html {
  background: var(--background);
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
}

.btn {
  min-width: 160px;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  background: var(--color-primary);
}

.btn-large {
  height: 50px;
  border-radius: 25px;
}
