@tailwind base;
@tailwind components;
@tailwind utilities;



.text-primary {
  color: var(--color-primary);
}

.btn {
  min-width: 160px;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  background: var(--color-primary);
}

.btn-large {
  height: 50px;
  border-radius: 25px;
}
