.header {
    --header-background: #252024;
    height: 80px;
    background-color: var(--header-background);
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    background: url("./logo.svg") no-repeat;
    width: 133px;
    height: 40px;
    line-height: 200;
    font-size: 0;
    overflow: hidden;
    background-size: cover;
}
