.header {
    --header-background: #252024;
    background-color: var(--header-background);
}

.logo {
}

.logoMobile,
.dropDownMenu {
    display: none;
}

.mobileGroup {
    display: flex;
    gap: 10px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    margin: 0 40px;
    gap: 40px;
}

.menuItem {
    padding: 5px 0;
    line-height: 24px;
}

.menuItem:global(.active) {
    border-bottom: 1px solid #fff;
}

span.menuItem {
    color: rgba(255, 255, 255, 0.5);
}

.menuIcon {
  display: inline-block;
  margin-right: 8px;
    margin-top: -2px;
}

@media (max-width: 900px) {
    .header {
        justify-content: space-between;
        padding: 0 15px;

        .logo {
            display: none;
        }
        .logoMobile {
            display: block;
        }
        .menu {
            display: none;
        }

        .dropDownMenu {
            display: block;
        }
    }

    .header :global(.btn) {
        height: 30px;
        border-radius: 15px;
    }
}
